.wrapper {
    width: 80%;
    padding: 5% 1%;
    margin: 0 auto;
}

.main_poker {
    background-image: url(../../assets/images/poker.png);
    height: 149px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.session {
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.session p {
    padding-top: 3%;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    color: #66999B;
}

.subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.connect {
    max-width: 550px;
    justify-content: space-between;
    flex-wrap: wrap;
}
