.footer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}


.github {
	display: block;
	width: 100px;
	line-height: 16px;
	font-size: 16px;
	transition: 0.3s;
	color: white;
  text-align: center;
}

.github:hover {
	color: white;
  cursor: pointer;
}

.rss {
	display: block;
	position: relative;
	width: 86px;
	height: 32px;
	background-image: url("../../assets/icons/rss.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 111px;
}

.rss_year {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 21px;
	letter-spacing: -2px;
	color: rgb(214, 213, 213);
	line-height: 0.9;
	font-weight: bold;
	transition: 0.3s;
}

.rss:hover .rss_year {
    cursor: pointer;
	right: -5px;
	letter-spacing: 0;
}