.wrapper {
  width: 100%;
  display: flex;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.game {
  width: 98%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  &__part_game {
    width: 100%;
    border: 1px solid #f0f0f0;
    padding: 1%;
    margin: 1%;
  }

  &__part_score {
    width: 50%;
    max-width: 500px;
    border: 1px solid #f0f0f0;
    padding: 1%;
    margin: 1%;
    display: grid;
    grid-template-areas: "score"
      "players";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

.issues_wrapper {
  position: relative;
}

.currnt_issues {
  height: 100%;
  position: absolute;
  bottom: -38px;
  color: green;
}

.none { 
  display: none;
}

.players {
  justify-self: center;
  justify-items: center;
}

.game_title {
  text-align: center;
  font-weight: bold;
}

.game_info {
  display: flex;
  flex-direction: column; 
}

.game_side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 1px solid #f0f0f0;
  padding: 1%;
  margin: 1%;
}

.process {
  border: 1px solid #f0f0f0;
  padding: 1%;
  margin: 1%;
}


.card_button_wrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
  background-color: rgb(18%, 76%, 40%, 0.7);
  margin: 5px;
  cursor: pointer;
}

.score_title {
display: flex;
text-align: center;
justify-content: space-evenly;
}

.score_title h1  {
  font-weight: bold;
}

.score {
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: space-between;
  }

  @media (max-width: 960px) {
    .score {
      display: block;
    }
  }
  
  @media (max-width: 785px) {
    .game  {
      display: block;
    }
  
    .game__part_score {
      width: 100%;
      max-width: 785px;
    }
    .score {
      display: flex;
    }
  }
