.header {
    height: 100%;
}

.logo{
    background-image: url(../../assets/images/logo.png);
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-position: left; 
    background-size: contain;
    margin-top: 20px;
}