.main {
  &__link-wrapper {
    display: flex;
  }

  &__card-link-wrapper {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__input_session-name {
    font-size: 1.2rem;
    border: none;
  }

  &__wrapper-icon {
    &:hover {
      cursor: pointer;
    }
  }
}

.main__input_session-name~.ant-input-disabled, .ant-input[disabled] {
  background: none;
  color: black;
  cursor: default; 
}